<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css" />

    <title>Fortnight data tracker</title>
</head>
<body>
  <section class="hero">

    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Fortnight stat tracker
        </h1>
        <h2 class="subtitle">
          compaire the stats of two players
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Player Name">
        </div>
        <div class="control">
          <button class="button is-info">
            Search
          </button>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
